    .container{
        width: 85%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #00bcd4;
        color: #fff;
    }

    .fixed-header {
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
        padding: 10px 0;
    }

    .header-table {
        width: 100%;
    }
    
    /* Some more styles to beutify this example */
    .nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }

    .container img {
        float: right;
    }

    .container p{
        line-height: 25px; /* Create scrollbar to test positioning */
/*         text-align: justify; 
        text-justify: inter-word; */
    }

    figure {
        margin: 20px; /* adjust as needed */
    }
    figure img {
        vertical-align: top;
    }
    figure figcaption {
        text-align: center;
    }

    .responsive {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 20px;
    }

    .left-header {
        float: left;
        width: 70%;
    }
    .right-header {
        float: left;
        width: 30%;
    }

    .card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
    .card-4{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
  
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    /* Desktop */
    @media screen and (min-width: 601px) {
        .header-desktop {
            display: initial;
        }
        .header-mobile {
            display: none;
        }
        .resp-h1 {
          font-size: 36px;
        }
        .resp-h4 {
            font-size: 20px;
          }
        .resp-h1,.resp-h2,.resp-h3,.resp-h4,.resp-h5,.resp-h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
        .bar .bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0;font-weight:bolder;}

        /* Add some padding on document's body to prevent the content
        to go underneath the header and footer */
        body{        
            padding-top: 160px;
            padding-bottom: 40px;
        }

        iframe {
            height: 350px;
            width: 425px;
        }
      }

    /* Mobile */
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
        .header-desktop {
            display: none;
        }
        .header-mobile {
            display: initial;
        }
        .resp-h1 {
            font-size: 22px;
        }
        .resp-h4 {
            font-size: 16px;
        }
        .resp-h1,.resp-h2,.resp-h3,.resp-h4,.resp-h5,.resp-h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
        .bar .bar-item{padding:8px 7px;float:left;width:auto;border:none;display:block;outline:0;font-weight:bolder;}

        /* Add some padding on document's body to prevent the content
        to go underneath the header and footer */
        body{        
            padding-top: 160px;
            padding-bottom: 80px;
        }

        iframe {
            height: 225px;
            width: 300px;
        }
    }
    